### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [13]:
total_players = len(purchase_data["SN"].value_counts())
total_players


total_summary = pd.DataFrame({"Total Players": [total_players]})
total_summary

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
total_item = len(purchase_data["Item ID"].value_counts())
purchases = purchase_data["SN"].count()
total_rev = purchase_data["Price"].sum()
avg_item = round(purchase_data["Price"].mean(), 2)



total_summary = pd.DataFrame({"Number of Unique Items": [total_item], 
                             "Average Price": " $" + str(avg_item), 
                             "Number of Purchases": [purchases], 
                             "Total Revenue": "$" + str(total_rev)})
total_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
group_gender = purchase_data.groupby(['Gender'])
total_count = group_gender.nunique()["SN"]

summary_table = pd.DataFrame({"Total Count": total_count, 
                              "Percentage of Players": round(total_count / total_players * 100, 2)
                             })

del summary_table.index.name
final_table= summary_table.sort_values("Percentage of Players", ascending=False)

final_table

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:

purchase_count = group_gender["Purchase ID"].count()

avg_price = group_gender["Price"].mean()

avg_total = group_gender["Price"].sum()

avg_purchase_pp = avg_total/total_count
 
gender = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_price,
                                    "Average Purchase Value":avg_total,
                                    "Avg Purchase Total per Person": avg_purchase_pp})

gender.index.name = "Gender"

gender.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=group_names)
purchase_data


age_group = purchase_data.groupby("Age Group")

total_age = age_group["SN"].nunique()

percentage_by_age = (total_age/total_players) * 100

age_demographics = pd.DataFrame({"Total Count": total_age, "Percentage of Players": round(percentage_by_age,2)})

del age_demographics.index.name


age_demographics

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:

purchase_count = age_group["Purchase ID"].count()


avg_purchase_price_age = age_group["Price"].mean()

total_purchase = age_group["Price"].sum()

avg_purchase_per_person_age = total_purchase/total_age

age_demographics = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
spender = purchase_data.groupby("SN")

purchase_count_spender = spender["Purchase ID"].count()

avg_purchase_price_spender = spender["Price"].mean()

purchase_total_spender = spender["Price"].sum()

top_spend = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value": purchase_total_spender})

top_spend.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

new_spenders = top_spend.sort_values(["Total Purchase Value"], ascending=False).head(5)
new_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:

items_group = purchase_data[["Item ID", "Item Name", "Price"]]

item = items_group.groupby(["Item ID","Item Name"])

purchase_count_item = item["Price"].count()

total_purchase_value = (item["Price"].sum()) 

item_price = total_purchase_value/purchase_count_item

most_popular = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":total_purchase_value})

most_popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

new_popular = most_popular.sort_values(["Purchase Count"], ascending=False).head()
new_popular

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
reupdate_popular = most_popular.sort_values(["Total Purchase Value"],ascending=False).head()
reupdate_popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})